.flex{
    width: 350px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}
*{
    background-color: black;
}
button{
    color: white;
}
span{
    color: aliceblue;
}
a{
    color: whitesmoke;
}